<div class="header-wrapper">
  <div class="header-logo-container">
    <div class="header-logo-container__app">
      <img ngSrc="assets/images/logos/MeetUps.svg" alt="Meetups" height="74" width="197" priority />
    </div>
    <div class="header-logo-container__org">
      <img
        ngSrc="assets/images/logos/fil-it.svg"
        alt="Философия.ИТ"
        height="30"
        width="187"
        priority
      />
      <img
        ngSrc="assets/images/logos/liga.svg"
        alt="Лига цифровой экономики"
        height="30"
        width="100"
        priority
      />
    </div>
  </div>
  <nav class="header-nav">
    <span class="header-nav__item">Все митапы</span>
    <span class="header-nav__item">Мои митапы</span>
    <span class="header-nav__item">Пользователи</span>
  </nav>
  <div class="header-controls">
    <img
      ngSrc="assets/images/controls/mdi_person.svg"
      alt="Person"
      height="50"
      width="50"
      priority
    />
  </div>
</div>
