<div class="header-wrapper">
  <div class="header-logo-container">
    <div class="header-logo-container__app">
      <img
        routerLink=""
        ngSrc="assets/images/logos/MeetUps.svg"
        alt="Meetups"
        height="74"
        width="197"
        priority
      />
    </div>
    <div class="header-logo-container__org">
      <a href="https://www.fil-it.ru/">
        <img
          ngSrc="assets/images/logos/fil-it.svg"
          alt="Философия.ИТ"
          height="30"
          width="187"
          priority
        />
      </a>
      <a href="https://www.digitalleague.ru/">
        <img
          ngSrc="assets/images/logos/liga.svg"
          alt="Лига цифровой экономики"
          height="30"
          width="100"
          priority
        />
      </a>
    </div>
  </div>
  <nav class="header-nav">
    <span
      *ngIf="authService.isUserAuthorized$ | async"
      routerLink="/meetups"
      routerLinkActive="active"
      class="header-nav__item"
      >Все митапы</span
    >
    <span *ngIf="authService.isUserAuthorized$ | async" class="header-nav__item">Мои митапы</span>
    <span
      *ngIf="authService.isUserAdmin$ | async"
      routerLink="/users"
      routerLinkActive="active"
      class="header-nav__item"
      >Пользователи</span
    >
  </nav>
  <div class="header-controls">
    <img
      *ngIf="!(authService.isUserAuthorized$ | async)"
      class="header-controls__auth"
      routerLink="/auth"
      ngSrc="assets/images/controls/mdi_person.svg"
      alt="Person"
      height="50"
      width="50"
      priority
    />
    <img
      *ngIf="authService.isUserAuthorized$ | async"
      (click)="logout()"
      class="header-controls__auth"
      ngSrc="assets/images/controls/logout.svg"
      alt="Logout"
      height="50"
      width="50"
      priority
    />
  </div>
</div>
