<div class="meetup-creation-wrapper">
  <div class="meetup-creation-container">
    <div class="meetup-creation-title">Создание митапа</div>
    <form class="meetup-creation-form">
      <div class="meetup-creation-form-item">
        <label class="meetup-creation-form-item-container">
          <span class="meetup-creation-container__title">Название:</span>
          <div class="meetup-creation-form-item-container__input">
            <input
              class="meetup-creation-form-item-container__input-wide"
              type="text"
              placeholder="React vs Angular"
            />
          </div>
        </label>
      </div>
      <div class="meetup-creation-form-date-time">
        <div class="meetup-creation-form-item">
          <label class="meetup-creation-form-item-container">
            <span class="meetup-creation-container__title">Дата:</span>
            <div class="meetup-creation-form-item-container__input">
              <input
                class="meetup-creation-form-item-container__input-narrow"
                type="text"
                placeholder="1.11.2024"
              />
            </div>
          </label>
        </div>
        <div class="meetup-creation-form-item">
          <label class="meetup-creation-form-item-container">
            <span class="meetup-creation-container__title">Время:</span>
            <div class="meetup-creation-form-item-container__input">
              <input
                class="meetup-creation-form-item-container__input-narrow"
                type="text"
                placeholder="11:00"
              />
            </div>
          </label>
        </div>
      </div>
      <div class="meetup-creation-form-item">
        <label class="meetup-creation-form-item-container">
          <span class="meetup-creation-container__title">Место:</span>
          <div class="meetup-creation-form-item-container__input">
            <input
              class="meetup-creation-form-item-container__input-wide"
              type="text"
              placeholder="Переговорная №1"
            />
          </div>
        </label>
      </div>
      <div class="meetup-creation-form-item">
        <label class="meetup-creation-form-item-container">
          <span class="meetup-creation-container__title">Краткое описание:</span>
          <textarea class="meetup-creation-form-item-container__textarea-narrow"></textarea>
        </label>
      </div>
      <div class="meetup-creation-form-item">
        <label class="meetup-creation-form-item-container">
          <span class="meetup-creation-container__title">Подробное описание:</span>
          <textarea class="meetup-creation-form-item-container__textarea-wide"></textarea>
        </label>
      </div>
      <div class="meetup-creation-form-item">
        <label class="meetup-creation-form-item-container">
          <span class="meetup-creation-container__title">Целевая аудитория:</span>
          <textarea
            class="meetup-creation-form-item-container__textarea-narrow"
            placeholder="Аналитики, тестировщики, зумеры..."
          ></textarea>
        </label>
      </div>
      <div class="meetup-creation-form-item">
        <label class="meetup-creation-form-item-container">
          <span class="meetup-creation-container__title">Что надо знать?</span>
          <textarea
            class="meetup-creation-form-item-container__textarea-wide"
            placeholder="1. любой функциональный язык программирования &#10;2. принципы строгой типизации &#10;3. третий закон Ньютона"
          ></textarea>
        </label>
      </div>
      <div class="meetup-creation-form-item">
        <label class="meetup-creation-form-item-container">
          <span class="meetup-creation-container__title">Что будет?</span>
          <textarea
            class="meetup-creation-form-item-container__textarea-wide"
            placeholder="1. научу пить пиво&#10;2. расскажу про колбасу"
          ></textarea>
        </label>
      </div>
      <div class="meetup-creation-form-item">
        <label class="meetup-creation-form-item-container">
          <span class="meetup-creation-container__title">Почему надо обязательно придти?</span>
          <textarea
            class="meetup-creation-form-item-container__textarea-wide"
            placeholder="потому что гладиолус"
          ></textarea>
        </label>
      </div>
    </form>
    <div class="meetup-creation-controls">
      <button class="meetup-creation-controls__button">Удалить</button>
      <button class="meetup-creation-controls__button">Отмена</button>
      <button class="meetup-creation-controls__button">Сохранить</button>
    </div>
  </div>
</div>
