<div class="meetup-wrapper">
  <div class="meetup-container">
    <div class="meetup-body">
      <div class="meetup-title-container">
        <h1 class="meetup-title-container__title">Angular vs React</h1>
        <span class="meetup-title-container__counter">321 подписчик</span>
      </div>
      <div class="meetup-content">
        <p class="meetup-content__main-description">
          А здесь я ещё более подробно напишу об том, отб этом. О том, об этом. О том, об этом. О
          том, об этом. О том, об этом. О том, об этом. О том, об этом. О том, об этом. А здесь я
          ещё более подробно напишу об том, отб этом. О том, об этом. О том, об этом. О том, об
          этом. О том, об этом. О том, об этом. О том, об этом. О том, об этом. А здесь я ещё более
          подробно напишу об том, отб этом. О том, об этом. О том, об этом. О том, об этом. О том,
          об этом. О том, об этом. О том, об этом. О том, об этом.
        </p>
        <h2 class="meetup-content__title">Целевая аудитория</h2>
        <p class="meetup-content__description">разрабы, аналитики, и проч</p>
        <h2 class="meetup-content__title">Что надо знать?</h2>
        <p class="meetup-content__description">вот это вот это вот это вот это</p>
        <h2 class="meetup-content__title">Что будет?</h2>
        <p class="meetup-content__description">
          вот этому научу вот это расскажу вот этому научу вот этому расскажу
        </p>
        <h2 class="meetup-content__title">Почему надо обязательно прийти?</h2>
        <p class="meetup-content__description">У меня красный пояс по C++</p>
        <div class="meetup-author">
          <img
            ngSrc="assets/images/controls/small-mdi_person.svg"
            alt="person-icon"
            height="25"
            width="25"
            priority
          />
          <span class="meetup-author__name">Александр Козаченко</span>
        </div>
      </div>
      <!--      <div>Название: {{ name }}</div>-->
      <!--      <div>Описане: {{ description }}</div>-->
    </div>
    <div class="meetup-aside">
      <div class="meetup-info">
        <span class="meetup-info__date">14.08.22 13:00</span>
        <span class="meetup-info__location">Переговорная 14</span>
      </div>
      <div class="meetup-controls">
        <button class="meetup-controls__action-button">Я пойду</button>
        <button class="meetup-controls__hide-button">
          <img
            ngSrc="assets/images/controls/arrow-up.svg"
            alt="arrow"
            width="29"
            height="23"
            priority
          />
        </button>
      </div>
    </div>
  </div>
</div>
