<div class="auth-wrapper">
  <div class="auth-container">
    <div class="auth-login">
      <input type="text" placeholder="Login" class="auth-login__input" />
    </div>
    <div class="auth-password">
      <input type="password" placeholder="Password" class="auth-password__input" />
    </div>
    <div class="auth-controls">
      <span class="auth-controls__instruction" routerLink="/about">How to create account?</span>
      <button class="auth-controls__button">Log In</button>
    </div>
  </div>
</div>
